PORT=3003
CLIENT_ORIGIN=https://quizzwegeek.havelsoftware.fr

# PostgreSQL
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/quizlive

# Sécurité simple MVP
HOST_SECRET=change-me-host-secret
ADMIN_SECRET=change-me-admin-secret

# Uploads locaux
UPLOAD_DIR=uploads
PUBLIC_BASE_URL=https://quizzwegeek.havelsoftware.fr